openapi: 3.1.0
info:
  title: MASANTÉ API
  version: 0.0.1-p0
  description: >
    Squelette OpenAPI de la plateforme MaSanté. Chaque endpoint consommé par le
    mobile/web DOIT être documenté ici AVANT écriture d'écran (gate G2, CDC_03 Rule-003).
    Les types TypeScript front dérivent de ce contrat (jamais écrits à la main).
servers:
  - url: https://api.masante.ci/api/v1
    description: Production (à venir)
  - url: http://localhost:8000/api/v1
    description: Dev local (exposé via Ngrok pour Expo Go)
tags:
  - name: Système
  - name: Auth
paths:
  /health:
    get:
      tags: [Système]
      summary: Liveness
      security: []
      responses:
        '200':
          description: Service disponible
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
  /auth/register:
    post:
      tags: [Auth]
      summary: Inscription (téléphone + OTP simulé en dev)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone, nom, prenom]
              properties:
                telephone: { type: string, example: '0700000000' }
                nom: { type: string }
                prenom: { type: string }
      responses:
        '201': { description: OTP envoyé }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/verify-otp:
    post:
      tags: [Auth]
      summary: Vérifie l'OTP → délivre un token Bearer (compte de niveau « base »)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone, code]
              properties:
                telephone: { type: string, example: '+2250700000000' }
                code: { type: string, example: '123456' }
                but: { type: string, enum: [inscription, connexion, recuperation] }
      responses:
        '200':
          description: Téléphone vérifié
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/login:
    post:
      tags: [Auth]
      summary: Connexion téléphone + mot de passe (compte vérifié)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone, password]
              properties:
                telephone: { type: string, example: '+2250700000000' }
                password: { type: string, format: password }
      responses:
        '200':
          description: Authentifié
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/me:
    get:
      tags: [Auth]
      summary: Profil de l'utilisateur authentifié (avec ses rôles RBAC)
      responses:
        '200':
          description: Profil
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
        '401': { description: Non authentifié }
components:
  schemas:
    User:
      type: object
      properties:
        id: { type: integer }
        nom: { type: string }
        prenom: { type: string }
        telephone: { type: string }
        telephone_verified_at: { type: string, format: date-time, nullable: true }
        roles:
          type: array
          items: { type: string, example: patient }
          description: Rôles RBAC fournis par le backend (CDC_10 §3.6). Le mobile n'utilise que « patient ».
    AuthResponse:
      type: object
      properties:
        message: { type: string }
        token: { type: string }
        token_type: { type: string, example: Bearer }
        user: { $ref: '#/components/schemas/User' }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    ValidationFailed:
      description: Données invalides
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code: { type: string, example: VALIDATION_FAILED }
                  message: { type: string }
                  request_id: { type: string }
security:
  - bearerAuth: []
