openapi: 3.1.0
info:
  title: MASANTÉ API
  version: 0.0.1-p0
  description: >
    Squelette OpenAPI de la plateforme MaSanté. Chaque endpoint consommé par le
    mobile/web DOIT être documenté ici AVANT écriture d'écran (gate G2, CDC_03 Rule-003).
    Les types TypeScript front dérivent de ce contrat (jamais écrits à la main).
servers:
  - url: https://api.masante.ci/api/v1
    description: Production (à venir)
  - url: http://localhost:8000/api/v1
    description: Dev local (exposé via Ngrok pour Expo Go)
tags:
  - name: Système
  - name: Auth
paths:
  /health:
    get:
      tags: [Système]
      summary: Liveness
      security: []
      responses:
        '200':
          description: Service disponible
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
  /auth/register:
    post:
      tags: [Auth]
      summary: Inscription (téléphone + OTP simulé en dev)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone, nom, prenom]
              properties:
                telephone: { type: string, example: '0700000000' }
                nom: { type: string }
                prenom: { type: string }
      responses:
        '201': { description: OTP envoyé }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/verify-otp:
    post:
      tags: [Auth]
      summary: Vérifie l'OTP → délivre un token Bearer (compte de niveau « base »)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone, code]
              properties:
                telephone: { type: string, example: '+2250700000000' }
                code: { type: string, example: '123456' }
                but: { type: string, enum: [inscription, connexion, recuperation] }
      responses:
        '200':
          description: Téléphone vérifié
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/login:
    post:
      tags: [Auth]
      summary: Connexion téléphone + mot de passe (compte vérifié)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telephone, password]
              properties:
                telephone: { type: string, example: '+2250700000000' }
                password: { type: string, format: password }
      responses:
        '200':
          description: >
            Authentifié (AuthResponse) ; OU, si le compte doit présenter un second facteur
            (MFA « prêt à activer », gate config), un défi MfaChallenge SANS token Bearer.
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/AuthResponse' }
                  - { $ref: '#/components/schemas/MfaChallenge' }
        '403': { description: Compte non vérifié }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/mfa/verify:
    post:
      tags: [Auth]
      summary: 2e étape de connexion — vérifie le second facteur et délivre le token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mfa_token, code]
              properties:
                mfa_token: { type: string, description: Jeton de défi reçu de /auth/login }
                code: { type: string, example: '123456', description: Code TOTP à 6 chiffres }
      responses:
        '200':
          description: Second facteur validé
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/mfa/status:
    get:
      tags: [Auth]
      summary: État MFA du compte connecté (le front l'AFFICHE, ne le déduit pas)
      responses:
        '200':
          description: État MFA
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MfaStatus' }
        '401': { description: Non authentifié }
  /auth/mfa/enroll:
    post:
      tags: [Auth]
      summary: Démarre l'enrôlement TOTP (renvoie le secret + l'URI otpauth:// pour le QR)
      responses:
        '201':
          description: Secret généré (à confirmer par un premier code)
          content:
            application/json:
              schema:
                type: object
                properties:
                  type: { type: string, example: totp }
                  secret: { type: string, description: Secret base32 — affiché une seule fois }
                  otpauth_uri: { type: string, example: 'otpauth://totp/MaSante:+2250700000000?secret=...&issuer=MaSante' }
        '401': { description: Non authentifié }
  /auth/mfa/confirm:
    post:
      tags: [Auth]
      summary: Confirme l'enrôlement avec le premier code de l'application d'authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, example: '123456' }
      responses:
        '200': { description: Second facteur activé }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /auth/mfa:
    delete:
      tags: [Auth]
      summary: Désactive le second facteur du compte connecté
      responses:
        '200': { description: Second facteur désactivé }
        '401': { description: Non authentifié }
  /auth/me:
    get:
      tags: [Auth]
      summary: Profil de l'utilisateur authentifié (avec ses rôles RBAC)
      responses:
        '200':
          description: Profil
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
        '401': { description: Non authentifié }
  /portail/rendez-vous:
    get:
      tags: [Portail RDV]
      summary: File d'attente des RDV du périmètre staff (paginée, filtrable par statut)
      description: Auth Sanctum + permission `rdv.validate`. Périmètre = services gérés par le compte.
      parameters:
        - name: statut
          in: query
          schema: { type: string, enum: [en_attente, confirme, refuse, annule, honore], default: en_attente }
      responses:
        '200': { description: Page de RDV (paginateur Laravel) }
        '403': { description: Permission rdv.validate absente, ou aucun service géré }
  /portail/rendez-vous/{rdv}:
    get:
      tags: [Portail RDV]
      summary: Détail d'un RDV du périmètre + médecins réservables du service
      parameters:
        - { name: rdv, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: RDV + médecins }
        '403': { description: Non autorisé }
        '404': { description: Hors périmètre }
  /portail/rendez-vous/{rdv}/confirmer:
    patch:
      tags: [Portail RDV]
      summary: Confirme un RDV en attente (date définitive + médecin optionnel + message)
      parameters:
        - { name: rdv, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date_confirmee]
              properties:
                date_confirmee: { type: string, format: date }
                medecin_id: { type: integer, nullable: true, description: Doit relever du service du RDV }
                message_agent: { type: string, nullable: true, maxLength: 1000 }
      responses:
        '200': { description: RDV confirmé }
        '403': { description: Non autorisé }
        '404': { description: Hors périmètre }
        '409': { description: RDV déjà traité }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /portail/rendez-vous/{rdv}/refuser:
    patch:
      tags: [Portail RDV]
      summary: Refuse un RDV en attente (motif obligatoire, communiqué au patient)
      parameters:
        - { name: rdv, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message_agent]
              properties:
                message_agent: { type: string, maxLength: 1000 }
      responses:
        '200': { description: RDV refusé }
        '403': { description: Non autorisé }
        '404': { description: Hors périmètre }
        '409': { description: RDV déjà traité }
        '422': { $ref: '#/components/responses/ValidationFailed' }
components:
  schemas:
    User:
      type: object
      properties:
        id: { type: integer }
        nom: { type: string }
        prenom: { type: string }
        telephone: { type: string }
        telephone_verified_at: { type: string, format: date-time, nullable: true }
        roles:
          type: array
          items: { type: string, example: patient }
          description: Rôles RBAC fournis par le backend (CDC_10 §3.6). Le mobile n'utilise que « patient ».
    AuthResponse:
      type: object
      properties:
        message: { type: string }
        token: { type: string }
        token_type: { type: string, example: Bearer }
        user: { $ref: '#/components/schemas/User' }
    MfaChallenge:
      type: object
      description: Défi renvoyé par /auth/login quand un second facteur est exigé (aucun token).
      properties:
        mfa_required: { type: boolean, example: true }
        mfa_token: { type: string, description: À renvoyer à /auth/mfa/verify (courte durée de vie) }
        message: { type: string }
    MfaStatus:
      type: object
      description: État MFA fourni par le backend (autorité) ; le front l'affiche seulement.
      properties:
        enforce: { type: boolean, description: Exigence MFA globale active (gate config) }
        oblige_pour_ce_compte: { type: boolean, description: Le rôle du compte impose la MFA (CDC_10 §3.5) }
        facteur_confirme: { type: boolean, description: Un second facteur est confirmé }
        doit_configurer: { type: boolean, description: Obligé mais pas encore configuré → onboarding MFA }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    ValidationFailed:
      description: Données invalides
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code: { type: string, example: VALIDATION_FAILED }
                  message: { type: string }
                  request_id: { type: string }
security:
  - bearerAuth: []
